# Ignora tudo por padrão
*

# Não ignora os diretórios, para que o Git possa percorrê-los
!*/

# Não ignora os arquivos com a extensão .v
!*.v
!*.png

# Não ignora o próprio arquivo .gitignore
!.gitignore